@using Lillian.Models;
@{
    ViewBag.Title = "AllStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript">
        function del(PID)
        {
            if(confirm("Are you sure to del?")) {
                window.location = "/Home/staffDel?staffid="+PID;
            }
        }

    </script>
</head>
<body>
    <h2>AllStaff</h2>
    <hr />

    <div>
      
            @using (Html.BeginForm("Search", "Home"))
            {
                <div style="float:right">
                    
                    <input type="text" id="key" name="key" style="padding:6px" />
                    <input type="submit" id="submitId" value="Search by FirstName" class="btn btn-info" />
                </div>
            } 
        <a class="btn btn-info" href="/Home/staffAdd">Add a new staff</a>
    </div>
    <br />
    @using (Html.BeginForm("AllStaff", "Home"))
    {
        <table class="table table-striped table-hover">
            <tr>
                <th>Staff ID</th>
                <th>Staff Name</th>
                <th>Staff Adress</th>
                <th>Person Type</th>
                <th>Operation</th>
            </tr>
            @foreach (Person sf in Model)
            {
                <tr>
                    <td>@sf.PersonId</td>
                    <td>@sf.FirstName</td>
                    <td>@sf.Address1</td>
                    <td>@sf.PersonType.Name</td>
                    <td>
                        <a class="btn btn-info" href="/Home/staffEdit?staffid=@sf.PersonId">Edit</a>
                        <a class="btn btn-info" href="javascript:del(@sf.PersonId)">Del</a>
                    </td>

                </tr>
            }

        </table>

    }
</body>